Flow-Node-Red.json
[{"id":"87f6e4b50f8e2c1b","type":"tab","label":"Dashboard Mottu","disabled":false,"info":""},{"id":"4684b50d3b6721cc","type":"mqtt in","z":"87f6e4b50f8e2c1b","name":"MQTT mottu/motos","topic":"mottu/motos","qos":"0","datatype":"auto","broker":"2887510c6cafa190","inputs":0,"x":170,"y":140,"wires":[["708ec8ff550c888c"]]},{"id":"708ec8ff550c888c","type":"json","z":"87f6e4b50f8e2c1b","name":"Parse JSON","property":"payload","action":"","pretty":false,"x":350,"y":140,"wires":[["b98adadfd5dd610a"]]},{"id":"b98adadfd5dd610a","type":"function","z":"87f6e4b50f8e2c1b","name":"Acumular motos","func":"// Recupera motos acumuladas no contexto\nlet motos = flow.get('motos') || {};\n\n// Atualiza ou adiciona a moto recebida\nlet moto = msg.payload;\nmotos[moto.id] = moto;\n\n// Transforma objeto em array para enviar ao dashboard\nmsg.payload = Object.values(motos);\n\n// Salva no contexto\nflow.set('motos', motos);\n\nreturn msg;","outputs":1,"noerr":0,"x":530,"y":140,"wires":[["67ebe2d2247c9c8f"]]},{"id":"67ebe2d2247c9c8f","type":"ui_table","z":"87f6e4b50f8e2c1b","group":"dashboard-group","name":"Tabela de Motos","order":1,"width":12,"height":6,"columns":[{"field":"id","title":"ID","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"status","title":"Status","width":"","align":"left","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"zona","title":"Zona","width":"","align":"center","formatter":"plaintext","formatterParams":{"target":"_blank"}},{"field":"distancia","title":"Distância (m)","width":"","align":"right","formatter":"plaintext","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":730,"y":140,"wires":[]},{"id":"b35c3a0404fb9884","type":"ui_button","z":"87f6e4b50f8e2c1b","name":"","group":"dashboard-group","order":1,"width":0,"height":0,"passthru":false,"label":"Limpar Tabela","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":320,"y":200,"wires":[["cdbe5fb5e26c610c"]]},{"id":"cdbe5fb5e26c610c","type":"function","z":"87f6e4b50f8e2c1b","name":"Limpar Motos","func":"flow.set('motos', {});\n\nmsg.payload = [];\nreturn msg;\n","outputs":1,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":200,"wires":[["67ebe2d2247c9c8f"]]},{"id":"2887510c6cafa190","type":"mqtt-broker","name":"Broker Local","broker":"192.168.0.169","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"dashboard-group","type":"ui_group","name":"Motos","tab":"dashboard-tab","order":1,"disp":true,"width":"12","collapse":false},{"id":"dashboard-tab","type":"ui_tab","name":"Dashboard Motos","icon":"dashboard","order":1,"disabled":false,"hidden":false}]