node-red/flow-iottu.json
[
    {
        "id": "main_flow",
        "type": "tab",
        "label": "IoTTU - MQTT to PostgreSQL",
        "disabled": false,
        "info": "Recebe dados do ESP32 via MQTT e salva no PostgreSQL local"
    },
    {
        "id": "mqtt_in_node",
        "type": "mqtt in",
        "z": "main_flow",
        "name": "ESP32 IoT",
        "topic": "fiap/iot/moto",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 120,
        "y": 200,
        "wires": [["json_parser"]]
    },
    {
        "id": "json_parser",
        "type": "json",
        "z": "main_flow",
        "name": "Parse JSON",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 290,
        "y": 200,
        "wires": [["router"]]
    },
    {
        "id": "router",
        "type": "switch",
        "z": "main_flow",
        "name": "Motos ou Antenas?",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "hask",
                "v": "motos",
                "vt": "str"
            },
            {
                "t": "hask",
                "v": "antenas",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 470,
        "y": 200,
        "wires": [["process_motos"], ["process_antenas"]]
    },
    {
        "id": "process_motos",
        "type": "function",
        "z": "main_flow",
        "name": "SQL Motos + Tags (Loop)",
        "func": "const motos = msg.payload.motos;\nconst msgs = [];\n\n// Criar mensagens para cada moto\nfor (let moto of motos) {\n    // 1. UPSERT da MOTO\n    const queryMoto = `INSERT INTO tb_moto (placa_moto, chassi_moto, nr_motor_moto, modelo_moto, id_status, id_patio) VALUES ('${moto.placa_moto}', '${moto.chassi_moto}', '${moto.nr_motor_moto}', '${moto.modelo_moto}', ${moto.id_status}, ${moto.id_patio}) ON CONFLICT (chassi_moto) DO UPDATE SET placa_moto = EXCLUDED.placa_moto, modelo_moto = EXCLUDED.modelo_moto, id_status = EXCLUDED.id_status, id_patio = EXCLUDED.id_patio;`;\n    \n    msgs.push({\n        payload: queryMoto\n    });\n    \n    // 2. UPSERT da TAG (se tiver coordenadas)\n    if (moto.latitude && moto.longitude) {\n        const queryTag = `INSERT INTO tb_tag (codigo_rfid_tag, ssid_wifi_tag, latitude_tag, longitude_tag, data_hora_tag) VALUES ('${moto.codigo_rfid_tag}', '${moto.ssid_wifi_tag}', ${moto.latitude}, ${moto.longitude}, NOW()) ON CONFLICT (codigo_rfid_tag) DO UPDATE SET ssid_wifi_tag = EXCLUDED.ssid_wifi_tag, latitude_tag = EXCLUDED.latitude_tag, longitude_tag = EXCLUDED.longitude_tag, data_hora_tag = NOW();`;\n        \n        msgs.push({\n            payload: queryTag\n        });\n    }\n}\n\nnode.status({fill:\"green\", shape:\"dot\", text:`${motos.length} motos processadas`});\nreturn [msgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 180,
        "wires": [["delay_node"]]
    },
    {
        "id": "process_antenas",
        "type": "function",
        "z": "main_flow",
        "name": "SQL Antenas (Loop)",
        "func": "const antenas = msg.payload.antenas;\nconst msgs = [];\n\n// Criar uma mensagem para cada antena\nfor (let antena of antenas) {\n    const query = `INSERT INTO tb_antena (id_antena, codigo_antena, id_patio, latitude_antena, longitude_antena) VALUES (${antena.id_antena}, '${antena.codigo_antena}', ${antena.id_patio}, ${antena.latitude_antena}, ${antena.longitude_antena}) ON CONFLICT (id_antena) DO UPDATE SET codigo_antena = EXCLUDED.codigo_antena, id_patio = EXCLUDED.id_patio, latitude_antena = EXCLUDED.latitude_antena, longitude_antena = EXCLUDED.longitude_antena;`;\n    \n    msgs.push({\n        payload: query\n    });\n}\n\nnode.status({fill:\"blue\", shape:\"dot\", text:`${antenas.length} antenas`});\nreturn [msgs];",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [["delay_node"]]
    },
    {
        "id": "delay_node",
        "type": "delay",
        "z": "main_flow",
        "name": "Rate Limit (100/s)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "100",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [["postgres_exec"]]
    },
    {
        "id": "delay_node",
        "type": "delay",
        "z": "main_flow",
        "name": "Rate Limit (100/s)",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "100",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 870,
        "y": 200,
        "wires": [["debug_after_delay", "postgres_exec"]]
    },
    {
        "id": "debug_after_delay",
        "type": "debug",
        "z": "main_flow",
        "name": "⏱️ Após Rate Limit",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 260,
        "wires": []
    },
    {
        "id": "debug_before_pg",
        "type": "debug",
        "z": "main_flow",
        "name": "📤 Enviando para PG",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1090,
        "y": 140,
        "wires": []
    },
    {
        "id": "postgres_exec",
        "type": "exec",
        "z": "main_flow",
        "command": "[CAMINHO COMPLETO DO PG-EXECUTOR.BAT]",
        "addpay": "payload",
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "PostgreSQL Azure",
        "x": 1080,
        "y": 200,
        "wires": [["debug_success"], ["debug_error_exec"], ["debug_error_exec"]]
    },
    {
        "id": "debug_success",
        "type": "debug",
        "z": "main_flow",
        "name": "✅ Salvo",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "auto",
        "x": 1470,
        "y": 200,
        "wires": []
    },
    {
        "id": "debug_error_exec",
        "type": "debug",
        "z": "main_flow",
        "name": "❌ STDERR",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "payload",
        "statusType": "msg",
        "x": 1470,
        "y": 240,
        "wires": []
    },
    {
        "id": "catch_error",
        "type": "catch",
        "z": "main_flow",
        "name": "Captura Erros",
        "scope": ["postgres_exec"],
        "uncaught": false,
        "x": 1280,
        "y": 280,
        "wires": [["debug_error"]]
    },
    {
        "id": "debug_error",
        "type": "debug",
        "z": "main_flow",
        "name": "❌ ERRO PostgreSQL",
        "active": true,
        "tosidebar": true,
        "console": true,
        "tostatus": true,
        "complete": "true",
        "targetType": "full",
        "statusVal": "error.message",
        "statusType": "msg",
        "x": 1490,
        "y": 280,
        "wires": []
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "Mosquitto Local",
        "broker": "localhost",
        "port": "1883",
        "clientid": "nodered-iottu",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    }
]
